//-
//- MARK: サイト全域の初期設定
//- ==================================================
//-

//- サイト全域の初期設定
//- --------------------------------------------------
-
	var site = {
		name : 'サイト名',
		url : 'https://xxxx.xxx/',
		ogtype : 'website', // OGP用
	}

//- ページごとのメタ情報
//- --------------------------------------------------
//- オブジェクトのキーにページのスラッグを記述する
//-
//- * title → titleタグやOGP
//- * description → meta:descriptionやOGPに利用
//- * url → URL正規化やOGPに利用
//- 
-
	var pages = {

		//- トップページ
		home: {
			title : 'ページ表題',
			description : 'ページ概要',
			url : site.url + '',
		},
		
		// 下層ページ
		subpage: {
			title : '下層ページ表題',
			description : '下層ページ概要',
			url : site.url + 'subpage',
		},

	}