//
// MARK: カラーの設定
// ==================================================
// デザイン上のカラーを定数化したい場合に利用
//


// メインカラー
$color_main: null;

// サブカラー
$color_sub: null;

// ベースカラー
$color_base: null;

// アクセントカラー
$color_acc: null;



