extends ../_inc/_layout.pug

append vars
	include ../_inc/_config.pug
	- var key = 'subpage'; // configのキーを指定
	- var meta = pages[key];
	-
		var page = { // ページの基本設定
			// Slug
			slug : 'subpage', // ページ識別用： bodyClassなどに利用
			css_slug : 'subpage', // {page以下のdir名/CSSファイル名}
			// ファイルパス
			root : '../', // ファビコンなどのルート設置のファイルパス
			img : '../assets/img/',
			pdf : '../assets/pdf/',
			video : '../assets/video/',
			js : '../assets/js/',
			css : '../assets/css/',
		}

//- ◆ ページ限定でプリロードするファイル
append preload

//- ◆ ページ限定で追加読み込みするCSS（`head`内のlink末尾に読み込み）
append css

//- ◆ ページ限定のJS（`body`末尾に読み込み）
append ft_js
	script(src=page.js+"page/subpage.js" defer)

//- ◆ コンテンツエリア
block contents
	main.site_frame__main
		.site_main: .site_main__inner

			//- ページ表題エリア
			//- ==================================================
			.page_header
				.page_header__inner
					//- ページ見出し
					.page_heading
							h1.page_heading__title
								span.text h1-下層ページ表題エリア


			//- アコーディオンのサンプルコード
			//- ==================================================
			include ../_inc/_sample/_accordion.pug

