//- 
//- Mixin
//- ==================================================
//- 引数を指定してHTMLをレンダリングするためのMixinを管理する。

//- `_inc/_layout.pug` からこのファイルをインポートすることで、
//- 以下すべてのMixinが利用できる。


//- パンくずリスト
//- --------------------------------------------------
//- 一般
include ./_topic_path.pug

//- Breadcrumb NavXT用（WordPress プラグイン）
include ./_breadcrumb.pug


//- ボタン
//- --------------------------------------------------
include ./_btn.pug

