.mv__image {
  background-color: #4B5B64;
  aspect-ratio: 480/920;
}
@media screen and (min-width: 600px) {
  .mv__image {
    aspect-ratio: 900/900;
  }
}
@media screen and (min-width: 960px) {
  .mv__image {
    aspect-ratio: 1440/680;
  }
}
.mv__image .picture {
  display: block;
  aspect-ratio: inherit;
}
.mv__image .picture .img {
  width: 100%;
}