.accordion {
  background-color: transparent;
  border-top: solid 1px #646464;
  border-bottom: solid 1px #646464;
}
.accordion + .accordion {
  border-top: initial;
}
.accordion._is_active .accordion__header {
  margin-bottom: -20px;
}
.accordion[open] .icon_toggle::after {
  opacity: 0;
}

.accordion__header {
  position: relative;
  padding-block: 50px;
  padding-inline: 30px 60px;
  cursor: pointer;
  list-style: none;
}
.accordion__header::-webkit-details-marker {
  display: none;
}
.accordion__header .icon_toggle {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 50%;
  translate: 0 calc(-50% - 0.5px);
  right: 40px;
}
.accordion__header .icon_toggle::before, .accordion__header .icon_toggle::after {
  content: "";
  display: block;
  width: inherit;
  height: 1px;
  background-color: #999;
  position: absolute;
  left: 0px;
  transition: opacity 0.3s, background-color 0.3s;
}
.accordion__header .icon_toggle::before {
  top: calc(50% - 0px);
}
.accordion__header .icon_toggle::after {
  top: 50%;
  rotate: 90deg;
}
.accordion__header {
  transition: margin-bottom 0.2s ease-out;
}
@media (any-hover: hover) and (pointer: fine) {
  .accordion__header:hover .icon_title {
    color: #c7a235;
  }
  .accordion__header:hover .title {
    color: #c7a235;
  }
  .accordion__header:hover .icon_toggle::before, .accordion__header:hover .icon_toggle::after {
    background-color: #c7a235;
  }
}

.accordion__heading .icon_title {
  display: inline-block;
  font-weight: 900;
  translate: 0 -2px;
  margin-right: 0.5rem;
  transition: color 0.3s;
}
.accordion__heading .title {
  font-size: 18px;
  font-weight: 900;
  transition: color 0.3s;
}

.accordion__content {
  padding-block: 50px;
  padding-inline: 50px 60px;
  padding-top: 0;
}