doctype html
html(lang="ja")
	head
		// Document
		meta(charset="utf-8")
		title lesson
		meta(name="description" content="コーディング基礎勉強会用")

		// CSS
		//- link(rel="stylesheet", href="assets/css/global.css")

	body
		
