//-
//- HOMEのサンプルコード
//- ==================================================
//- ※ 制作着手時に削除すること
//-


style.
	.sample_home {
		padding-inline: 20px;
	}
	section {
		max-width: 940px;
		margin-inline: auto;
		padding-block: 40px;
	}
	h2 {
		font-size: 30px;
	}
	.icon_svg_sample {
		display: block;
		width: 40px;
		height: 40px;
	}



.sample_home
	section
		h2 SAMPLE
		.icon_svg_sample
				include ../../_parts/_svg/_sample/layer-group-solid.svg
		p
			strong ※ このページのコンテンツは、挙動確認のために作成した適当なコンテンツの繰り返しです。制作時に削除してください。#[br]#[br]
		ul
			li 
				a(href="#anker_test_1") アンカーテスト-1
			li 
				a(href="#anker_test_2") アンカーテスト-2

	section
		h2 サービスの紹介
		p 当社はお客様に最高のサービスを提供することを目指しています。
		img(src="https://placehold.jp/960x400.png", alt="サービスイメージ")
		p 以下のリストは、私たちが提供する主なサービスです：
		ul
			li Webデザイン
			li システム開発
			li SEO対策
			li コンテンツマーケティング
			
	section
		h2 最新のニュース
		p 最新のトピックスについてはこちらをご確認ください。
		img(src="https://placehold.jp/960x400.png", alt="ニュースイメージ")
		
	section
		h2 お客様の声
		p 私たちのサービスに対するお客様の声を以下にご紹介します：
		ul
			li "素晴らしいサポート！本当に助かりました。" - 山田さん
			li "デザインがとても気に入っています。" - 佐藤さん
			li "SEOの改善でアクセス数が劇的に増えました。" - 高橋さん

	hr

	p#anker_test_1 #[strong アンカーテスト1の飛び先] 
	p
		a(href="#anker_test_2") アンカーテスト-2 へ

	section
		h2 サービスの紹介
		p 当社はお客様に最高のサービスを提供することを目指しています。
		img(src="https://placehold.jp/960x400.png", alt="サービスイメージ")
		p 以下のリストは、私たちが提供する主なサービスです：
		ul
			li Webデザイン
			li システム開発
			li SEO対策
			li コンテンツマーケティング
			
	section
		h2 最新のニュース
		p 最新のトピックスについてはこちらをご確認ください。
		img(src="https://placehold.jp/960x400.png", alt="ニュースイメージ")
		
	section
		h2 お客様の声
		p 私たちのサービスに対するお客様の声を以下にご紹介します：
		ul
			li "素晴らしいサポート！本当に助かりました。" - 山田さん
			li "デザインがとても気に入っています。" - 佐藤さん
			li "SEOの改善でアクセス数が劇的に増えました。" - 高橋さん

	hr

	p#anker_test_2 #[strong アンカーテスト 2の飛び先]
	p
		a(href="#anker_test_1") アンカーテスト-1 へ
			
	section
		h2 最新のニュース
		p 最新のトピックスについてはこちらをご確認ください。
		img(src="https://placehold.jp/960x200.png", alt="ニュースイメージ")
		
	section
		h2 サービスの紹介
		p 当社はお客様に最高のサービスを提供することを目指しています。
		img(src="https://placehold.jp/960x400.png", alt="サービスイメージ")
		p 以下のリストは、私たちが提供する主なサービスです：
		ul
			li Webデザイン
			li システム開発
			li SEO対策
			li コンテンツマーケティング

	section
		h2 お客様の声
		p 私たちのサービスに対するお客様の声を以下にご紹介します：
		ul
			li "素晴らしいサポート！本当に助かりました。" - 山田さん
			li "デザインがとても気に入っています。" - 佐藤さん
			li "SEOの改善でアクセス数が劇的に増えました。" - 高橋さん




	p
		a(href="#") アンカーテストTOP