//-
//- MARK: アコーディオン
//- ==================================================
//- 
//- * 排他的な開閉 → name 属性を設定
//- * 排他的な開閉が不要 → name 属性を指定しない
//- 
//- summaryと兄弟関係に、margin padding borderなどのスタイルが当たっていないdiv要素1つが必要。
//- 初期状態で `open` にしたい要素に `_is_active` を付与し、レイアウトシフトを防止する
//- 


// item
details.accordion(name="about_shop" open)._is_active
	//- 表題
	summary.accordion__header
		.accordion__heading
			span.icon_title Q.
			span.title 質問のサンプルテキスト
		span.icon_toggle(aria-hidden="true") 
	//- 開閉ボックス（親ボックスはスタイリング不可）
	.accordion__body
		.accordion__content
			span.icon_content A.
			.accordion__textbox
				p.p サンプルテキスト
				p.p サンプルテキストサンプルテキストサンプルテキスト

// item
details.accordion(name="about_shop")
	//- 表題
	summary.accordion__header
		.accordion__heading
			span.icon_title Q.
			span.title 質問のサンプルテキスト
		span.icon_toggle(aria-hidden="true") 
	//- 開閉ボックス（親ボックスはスタイリング不可）
	.accordion__body
		.accordion__content
			span.icon_content A.
			.accordion__textbox
				p.p サンプルテキスト
				p.p サンプルテキストサンプルテキストサンプルテキスト

// item
details.accordion(name="about_shop")
	//- 表題
	summary.accordion__header
		.accordion__heading
			span.icon_title Q.
			span.title 質問のサンプルテキスト
		span.icon_toggle(aria-hidden="true") 
	//- 開閉ボックス（親ボックスはスタイリング不可）
	.accordion__body
		.accordion__content
			span.icon_content A.
			.accordion__textbox
				p.p サンプルテキスト
				p.p サンプルテキストサンプルテキストサンプルテキスト

// item
details.accordion(name="about_shop")
	//- 表題
	summary.accordion__header
		.accordion__heading
			span.icon_title Q.
			span.title 質問のサンプルテキスト
		span.icon_toggle(aria-hidden="true") 
	//- 開閉ボックス（親ボックスはスタイリング不可）
	.accordion__body
		.accordion__content
			span.icon_content A.
			.accordion__textbox
				p.p サンプルテキスト
				p.p サンプルテキストサンプルテキストサンプルテキスト

// item
details.accordion(name="about_shop")
	//- 表題
	summary.accordion__header
		.accordion__heading
			span.icon_title Q.
			span.title 質問のサンプルテキスト
		span.icon_toggle(aria-hidden="true") 
	//- 開閉ボックス（親ボックスはスタイリング不可）
	.accordion__body
		.accordion__content
			span.icon_content A.
			.accordion__textbox
				p.p サンプルテキスト
				p.p サンプルテキストサンプルテキストサンプルテキスト

// item
details.accordion(name="about_shop")
	//- 表題
	summary.accordion__header
		.accordion__heading
			span.icon_title Q.
			span.title 質問のサンプルテキスト
		span.icon_toggle(aria-hidden="true") 
	//- 開閉ボックス（親ボックスはスタイリング不可）
	.accordion__body
		.accordion__content
			span.icon_content A.
			.accordion__textbox
				p.p サンプルテキスト
				p.p サンプルテキストサンプルテキストサンプルテキスト

// item
details.accordion(name="about_shop")
	//- 表題
	summary.accordion__header
		.accordion__heading
			span.icon_title Q.
			span.title 質問のサンプルテキスト
		span.icon_toggle(aria-hidden="true") 
	//- 開閉ボックス（親ボックスはスタイリング不可）
	.accordion__body
		.accordion__content
			span.icon_content A.
			.accordion__textbox
				p.p サンプルテキスト
				p.p サンプルテキストサンプルテキストサンプルテキスト

// item
details.accordion(name="about_shop")
	//- 表題
	summary.accordion__header
		.accordion__heading
			span.icon_title Q.
			span.title 質問のサンプルテキスト
		span.icon_toggle(aria-hidden="true") 
	//- 開閉ボックス（親ボックスはスタイリング不可）
	.accordion__body
		.accordion__content
			span.icon_content A.
			.accordion__textbox
				p.p サンプルテキスト
				p.p サンプルテキストサンプルテキストサンプルテキスト

// item
details.accordion(name="about_shop")
	//- 表題
	summary.accordion__header
		.accordion__heading
			span.icon_title Q.
			span.title 質問のサンプルテキスト
		span.icon_toggle(aria-hidden="true") 
	//- 開閉ボックス（親ボックスはスタイリング不可）
	.accordion__body
		.accordion__content
			span.icon_content A.
			.accordion__textbox
				p.p サンプルテキスト
				p.p サンプルテキストサンプルテキストサンプルテキスト
