//-
//- サイトフッター
//- ==================================================
//- サイトフッターのサンプルコード
//-


footer.site_frame__footer

	div.site_footer
		.site_footer__inner

			//- 内部構造
			//- --------------------------------------------------
			//- 以下、構造はデザインによって使い分け（もしくは複合）する

			//- .site_footer__top
			//- .site_footer__middle
			//- .site_footer__bottom

			//- .site_footer__primary
			//- .site_footer__secondary


			//- モジュール
			//- --------------------------------------------------
			//- フッターのブランディング
			// branding
			.footer_branding
				.footer_branding__inner
					.footer_branding__logo
						span.image
							img.img( src=page.img+"common/logo_footer.webp" alt="" width="" height="" decoding="async" fetchpriority="high")
					.footer_branding__name
						span.text サイト名

			//- フッターのサイトマップ
			.footer_sitemap


			//- フッターの連絡先情報
			.footer_address


			//- フッターのコピーライト表記
			.footer_copyright

